@model MyWallet.Web.ViewModels.Report.ReportFilterViewModel

<h1 class="h3 mb-2 text-gray-800">
    Reports
</h1>
@using (Html.BeginForm())
{
    <div class="form-row">
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.CategoryId)
            @Html.DropDownListFor(m => m.CategoryId, Model.SelectListCategory, "", new { @class = "form-control category-list" })
            @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.BankAccountId)
            @Html.DropDownListFor(m => m.BankAccountId, Model.SelectListBankAccount, "", new { @class = "form-control bank-account-list" })
            @Html.ValidationMessageFor(m => m.BankAccountId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.StartValue)
            @Html.TextBoxFor(m => m.StartValue, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StartValue, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.EndValue)
            @Html.TextBoxFor(m => m.EndValue, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EndValue, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.Type)
            @Html.DropDownListFor(m => m.Type, Model.SelectListType, "", new { @class = "form-control bank-account-list" })
            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(m => m.Situation)
            @Html.DropDownListFor(m => m.Situation, Model.SelectListSituation, "", new { @class = "form-control bank-account-list" })
            @Html.ValidationMessageFor(m => m.Situation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Search</span>
        </button>
    </div>
    
}