@model MyWallet.Web.ViewModels.User.UserViewModel

<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.PhotoBase64) //TODO See if there is a better solution for this field

        <fieldset>
            <legend class="text-center">Edit your Account</legend>
            <div class="form-group row justify-content-center">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="col-md-12">
                            <img id="profileImg" src=@Model.PhotoBase64 class="img-thumbnail img-small" />
                    </div>
                    <div class="input-group mb-3" style="margin-top: 15px;">
                        <div class="custom-file">
                            @Html.TextBoxFor(m => m.NewPhoto, new { type = "file", @class = "custom-file-input", onchange = "encodeImageFileAsURL(this)" })
                            <label class="custom-file-label" for="Name">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-user" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.RepeatPassword)
                    @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control form-control-user" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">

                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Save</span>
                    </button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts{
    <script>

        function clearPassword() {
            $('#Password').val('');
            $('#RepeatPassword').val('');
        }

        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                var result = reader.result;
                $('#profileImg').attr("src", result);
            }
            reader.readAsDataURL(file);
        }

    </script>
}




