@model MyWallet.Web.ViewModels.Expense.ListAllExpensesViewModel

<h1 class="h3 mb-2 text-gray-800">Expenses</h1>

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
        <button id="btnOpenExpenseModal" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Add Expense</span>
        </button>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div id="divExpenseDataTable" class="table-responsive">
            @Html.Partial("PartialView/_ExpensesList", Model)
        </div>
    </div>
</div>

<!-- Modal Form - Add Expense -->
@Html.Partial("PartialView/_ModalAddExpense", new MyWallet.Web.ViewModels.Expense.ExpenseViewModel())

<!-- Modal Form - Edit Expense -->
@Html.Partial("PartialView/_ModalEditExpense", new MyWallet.Web.ViewModels.Expense.ExpenseViewModel())

<!-- Modal Form - Delete Expense -->
@Html.Partial("PartialView/_ModalDeleteExpense", new MyWallet.Web.ViewModels.Expense.ExpenseViewModel())


@section scripts {
    @Scripts.Render("~/bundles/jquery-val")

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {

            loadBankAccountDropDownList();
            loadCategoryDropDownList();

            $('#dataTable').DataTable();

            $('.datepicker').datepicker({
                 format: 'dd/mm/yyyy',
            });

            $('.datepicker').datepicker();

            $('#btnOpenExpenseModal').click(function () {
                $('#formModalCreateExpense')[0].reset();
                $('#createExpenseModal').modal('show');
            });

            $(document).on('click', '.btnEditExpenseModal', function () {
                var expenseId = $(this).data("expense-id");

                $.ajax({
                    url: '@Url.Action("GetExpenseById","Expense")',
                    type: "GET",
                    data: {Id: expenseId},
                    success: function (expense) {
                        $('#formModalEditExpense #Id').val(expense.Id);
                        $('#formModalEditExpense #Description').val(expense.Description);
                        $('#formModalEditExpense #Value').val(expense.Value);
                        $('#formModalEditExpense #Date').val(expense.Date);

                        $('#editExpenseModal').modal('show');
                    },
                    error: function (error) {
                        alert("Error, check console");
                        console.log(error);
                    }
                });
            });

            $(document).on('click', '#btnModalEditExpense', function () {
                $form = $('#formModalEditExpense');

                $.ajax({
                    url: $form.attr('action'),
                    type: "POST",
                    data: $form.serializeArray(),
                    success: function (data) {
                        reloadExpenseDataTable();
                        $('#editExpenseModal').modal('hide');
                    },
                    error: function (error) {
                        alert("Error, check console");
                        console.log(error);
                    }
                });

            });

            $(document).on('click', '.btnDeleteExpenseModal', function () {
                $('#deleteExpenseModal').modal('show');

                var expenseId = $(this).data("expense-id");
                $('#idModalDeleteExpense').attr("value", expenseId);
            });

            $('#btnDeleteExpense').click(function () {
                var $form = $('#formModalDeleteExpense');

                var id = $form.serializeArray();

               $.ajax({
                    url: $form.attr('action'),
                    type: "POST",
                    data: id,
                    success: function (data) {
                        reloadExpenseDataTable();
                        $('#deleteExpenseModal').modal('hide');
                    },
                    error: function (error) {
                        alert("Error, check console");
                        console.log(error);
                    }
                });
            });

            $('#btnIsPaid').click(function () {
                var $isPaid = $('#IsPaid');

                if ($isPaid.val() == "False") {
                    $isPaid.val("True");
                } else {
                    $isPaid.val("False");
                }

                $(this).toggleClass("btn-danger btn-success");
                $(this).children().toggleClass("fa-thumbs-down fa-thumbs-up");
            });

            $('#btnModalCreateExpense').click(function () {
                var $form = $('#formModalCreateExpense');

                if (!$form.valid()) {
                    return;
                }

                $.ajax({
                    url: $form.attr('action'),
                    type: "POST",
                    data: $form.serializeArray(),
                    success: function (data) {
                        reloadExpenseDataTable();
                        $('#createExpenseModal').modal('hide');
                    },
                    error: function (error) {
                        alert("Error, check console");
                        console.log(error);
                    }
                });
            });
        });

        function reloadExpenseDataTable() {
            var url = '@Url.Action("GetExpenses")';
            $('#divExpenseDataTable').load(url, null, function () {
                $('#dataTable').DataTable();
            });
        };

        function loadBankAccountDropDownList() {
            var url = '@Url.Action("GetAllByContextId", "BankAccount")';
            $.getJSON(url, function (data) {
                $.each(data, function (index, obj) {
                    var $option = $("<option/>");
                    $option.text(obj.Name);
                    $option.val(obj.Id);
                    $(".bank-account-list").append($option);
                });
            });
        };

        function loadCategoryDropDownList() {
            var url = '@Url.Action("GetAllByContextId","Category")';
                $.get(url, function (data) {
                    $.each(data, function (index, obj) {
                        var $option = $("<option />");
                        $option.text(obj.Name);
                        $option.val(obj.Id);
                        $(".category-list").append($option);
                    })
                });
        };
    </script>
}

@section otherCss{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}