@using MyWallet.Web.ViewModels.Context;
@model IEnumerable<MyWallet.Web.ViewModels.Context.ContextViewModel>


<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Contexts</th>
                        <th></th>
                        <th>Currency</th>
                        <th>Symbol</th>
                        <th>Country</th>
                    </tr>
                </thead>
                @foreach (var context in Model)
                {
                    <tr>
                        <td>
                            @context.Name
                        </td>
                        <td>
                            @if (context.IsMainContext)
                            {
                                <strong>@Html.DisplayNameFor(m => m.IsMainContext)</strong>
                            }
                        </td>
                        <td>
                            @context.CurrencyName
                        </td>
                        <td>
                            @context.CurrencySymbol
                        </td>
                        <td>
                            @context.CountryName
                        </td>
                        <td>
                            <a href="@Url.Action("Update", context)" class="btn btn-warning btn-circle">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", 
                                    new DeleteContextViewModel{ 
                                        Id = context.Id,
                                        Name = context.Name,
                                        IsMainContext = context.IsMainContext
                                    })"
                               class="btn btn-danger btn-circle">

                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Create")" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Add New Context</span>
        </a>
    </div>
</div>